extends ../layout 

block content 
  p You are about to delete the part. Are you sure
    b= part.name 
    | ?
  form(method='POST' action='')
    input#id(
      type='hidden'
      name='id'
      required='true'
      value=part._id 
    )
    button(
      type='submit'
    ) Delete