extends ../layout 

block content 
  p 
    a(href=`${part.url}/update`) Update Part
  p 
    a(href=`${part.url}/delete`) Delete Part
  if part.description
    p= part.description 
  else 
    p 
      i No description was provided for this item.
  p
    | Price: 
    b $#{part.price.toFixed(2)}
  p 
    if part.stock > 0
      b= part.stock 
      |  in stock
    else
      | Out of stock
  p 
    | Category: 
    a(href=`${part.category.url}`) #{part.category.name}
  